//variables
$numero : 1;
$tamanio : 30px;
$tiempo : 20s;


//cadenas

$nombre : "Phantom";
$valor : block;
$sexo : "hombre";

//colores
$rojo : green;
$color_rgb : rgb(100,192,81);
$color_hex : #2f7060;
$borde : 10px dashed red;