doctype html 
html 
    head 
        title Ejemplo titulo
    body
        h1 encabezado 
        p.alert.
            hola 
            mundo 
            como 
            estas
        ol 
            each item in ['opcion 1', 'opcion 2', 'opcion 3']
                li #{item}
             
        include condiciones
        include tabla